<nav
  class="fixed top-6 left-1/2 -translate-x-1/2 z-50
  flex items-center gap-10
  px-10 py-4
  rounded-full
  border border-slate-700
  bg-slate-800/70
  backdrop-blur-lg
  shadow-2xl">

  <!-- Logo -->
  <h1
  class="text-xl font-bold tracking-wide text-white cursor-pointer"
  (click)="scrollToTop()"
>
  Prathap Reddy
</h1>

  <!-- Navigation Links -->
  <div class="flex gap-8 text-slate-300 font-medium">

    <a
      href="#about"
      class="hover:text-emerald-400 transition">

      About

    </a>

    <a
      href="#skills"
      class="hover:text-emerald-400 transition">

      Skills

    </a>

    <a
      href="#experience"
      class="hover:text-emerald-400 transition">

      Experience

    </a>

    <a
      href="#projects"
      class="hover:text-emerald-400 transition">

      Projects

    </a>

    <a
      href="#contact"
      class="hover:text-emerald-400 transition">

      Contact

    </a>

  </div>

</nav>